<!DOCTYPE html>
<html>
  {{>_header}}
  <body>
    <div class="container">
      <p>Please log in</p>
      <form class="login" action="/login" method="get">
        <input class="submit" type="submit" name="submit" value="login">
      </form>
    </div>
  </body>
</html>
